<header class='footer-all'>
  <div class='nav'>
    <ul class='footer-lists'>
      <li><%= link_to 'トップページ', "", class: "bottom-list" %></li>
      <li><%= link_to '索引', "", class: "bottom-list" %></li>
      <li><%= link_to 'カテゴリ', "", class: "bottom-list" %></li>
    </ul>
  </div>
</header>