<header class='header-all'>
  <div class='nav'>
    <ul class='header-lists'>
      <%# <% if user_signed_in? %>
      <button type="button" class="btn btn-info">TOMさん</button>
      <button type="button" class="btn btn-info">ログアウト</button>
      <%# <% else %>
      <button type="button" class="btn btn-info">ログイン</button>
      <button type="button" class="btn btn-info">新規登録</button>
      <%# <% end %>
      <button type="button" class="btn btn-primary">トップページ</button>
      <button type="button" class="btn btn-primary">索引</button>
      <button type="button" class="btn btn-primary">カテゴリ</button>
      <button type="button" class="btn btn-success">投稿する</button>
    </ul>
  </div>
</header>