<div class="posts">
  <div class="post">
    <div class="upper-post">
      <div class="post-user">
        Tom
      </div>
      <div class="post-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-post">
      <div class="post-content">
        おはよう
      </div>
    </div>
  </div>

  <div class="post">
    <div class="upper-post">
      <div class="post-user">
        Tom
      </div>
      <div class="post-date">
        2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class="lower-post">
      <div class="post-content">
        こんばんは
      </div>
    </div>
  </div>
</div>