<%= render "shared/header" %>

<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
    <div class="posts">
    <%= render "posts" %>
  </div>
</div>

<%= render "shared/footer" %>