<%= render "shared/header" %>

<div class="wrapper">
  <div class="side-bar">
    <%= render "posts/side_bar" %>
  </div>
    <div class="posts">

<div class="card col-sm-5 mx-auto mt-5">
  <div class="card-body">
    <div class="col text-center">
    <h3 class="mt-1 mb-3">更新が完了しました</h3>
    <%= link_to '投稿一覧へ戻る', root_path, class: "btn btn-primary" %>
    </div>  
  </div> 
</div> 


  </div> 
</div> 
<%= render "shared/footer" %>