.show-table {
  width: 100%;
}

.show-th {
  width: 100%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
  display:block;
}

.show-td {
  width: 100%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
  display:block;
}